<div class="card">
  <div class="card-body">
    <h5 class="text-capitalize text-center mb-2 height">
      {{ beer.name }}
    </h5>
    <img
      [src]="
        beer.labels?.medium
          ? beer.labels?.medium
          : 'https://images.pexels.com/photos/434311/pexels-photo-434311.jpeg?cs=srgb&dl=alcohol-barrel-beer-434311.jpg&fm=jpg'
      "
      class="card-img img-rounded"
    />
    <p class="card-text text-muted text-center mt-2">
      {{ beer.style?.category?.name }}
    </p>
  </div>
  <div class="card-footer bg-light text-muted d-flex justify-content-between">
    <small *ngIf="beer.abv || (beer.style?.abvMin && beer.style.abvMax)"
      >ABV:
      {{
        beer.abv ? beer.abv : beer.style.abvMin + "-" + beer.style.abvMax
      }}%</small
    >
    <small *ngIf="beer.ibu || (beer.style?.ibuMin && beer.style.ibuMax)"
      >IBU:
      {{
        beer.ibu ? beer.ibu : beer.style.ibuMin + "-" + beer.style.ibuMax
      }}</small
    >
  </div>
</div>
