<div class="container-fluid bgbeer">
  <div class="row">
    <!-- individual beer items  -->
    <app-beer-item
      *ngFor="let beer of beers?.data"
      [beer]="beer"
      class="col-sm-4 col-md-3 col-xl-2 my-3 d-flex align-items-stretch mx-auto"
    ></app-beer-item>
    <!-- end of individual beer items -->
  </div>
  <!-- list page navigation -->
  <div class="row justify-content-between">
    <button
      class="btn btn-lg btn-warning mb-3"
      type="button"
      (click)="getBeers(currentPage - 1)"
      [disabled]="currentPage == 1"
    >
      Previous Page
    </button>
    <a class="btn btn-lg btn-warning mb-3">{{ currentPage }}</a>
    <button
      class="btn btn-lg btn-warning mb-3"
      type="button"
      (click)="getBeers(currentPage + 1)"
      [disabled]="currentPage == beers?.numberOfPages"
    >
      Next Page
    </button>
  </div>
  <!--end of list page navigation -->
</div>
