<div class="container-fluid bgbeer">
  <div class="row">
    <!-- individual beer -->
    <app-beer-item
      *ngFor="let beer of beers?.data"
      [beer]="beer"
      class="col-sm-4 col-md-3 col-xl-2 my-3 d-flex align-items-stretch mx-auto"
    ></app-beer-item>
    <!-- end of individual beer -->
  </div>
  <div class="row justify-content-between">
    <a class="btn btn-lg btn-warning "> Previous Page</a>
    <a class="btn btn-lg btn-warning">{{ beers.currentPage }}</a>
    <a class="btn btn-lg btn-warning"> Next Page</a>
  </div>
</div>
